<div class="mt-4">
    <div class="row">
        <div class="col-8">
            <h2>{{course.name}}</h2>
            <p>{{course.description}}</p>
            <h3>Bạn sẽ học được gì?</h3>
            <div class="row">
                <div class="col-6">
                    <ul>
                        <li>Các kiến thức cơ bản, nền móng của ngành IT</li>
                        <li>Các khái niệm, thuật ngữ cốt lõi khi triển khai ứng dụng</li>
                    </ul>
                </div>
                <div class="col-6">
                    <ul>
                        <li>Các mô hình, kiến trúc cơ bản khi triển khai ứng dụng</li>
                        <li>Hiểu hơn về cách internet và máy vi tính hoạt động</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-4">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/{{course.videoId}}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </div>
</div>